@media only screen and (min-width: 1800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1691px;
    }
}

@media only screen and (max-width: 1799px) and (min-width: 1350px)  {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1320px;
    }
    .campaign-item img {
        height: 100%;
        object-fit: cover;
    }
    .copyright-icon {
        width: 60px;
        height: 60px;
    }
    .new-model-slider .owl-nav button {
        left: 0px;
    }
    .new-model-slider .owl-nav button.owl-next {
        right: 0;
    }
    .page-sidebar-content.search-result-content {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .ranking-label {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 25px;
    }    
    .new-model-content .new-model-spec li {
        margin: 5px 0;
    }
    .pick-up-list {
        margin-right: 0;
    }
    .page-sidebar-content {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .info-card-links a {
        font-size: 22px;
    }
    .builder-pc-price .price {
        font-size: 38px;
        padding-left: 10px;
    }
    
    .builder-pc-price .unit {
        font-size: 26px;
        margin-left: 10px;
    }
    
    .builder-pc-spec {
        font-size: 11px;
    }
    
    .important-features .features-box {
        margin: 0 1px;
    }
    .modal-dialog.modal-xl {
        max-width: 95%;
    } 
    .config-change-price span {
        font-size: 30px;
    }
    .new-model-content .new-model-spec li span {
        width: 85px;
    }
    .single-pc-item .new-model-content {
        margin-left: -12px;
    }
    .new-model-slider .new-model-content .new-model-spec li span {
        width: 95px;
    }   
}

@media only screen and (max-width: 1349px) { 
    .pc-item-thumb {
        width: 100%;
    }
    
    .pc-item-thumb .single-pc-item {
        max-width: 100%;
        width: 100%;
    }
    .col-lg-4.pc-item-thumb {
        width: 50%;
    }
    .pick-up-list {
        margin-right: 0px;
    }
    .info-card-links a {
        font-size: 20px;
    }
    .sidebar-menu h3 {
        font-size: 20px;
    }
    .new-model-slider .owl-nav button {
        left: 0px;
    }
    .new-model-slider .owl-nav button.owl-next {
        right: 0;
    }
    .campaign-item img {
        height: 100%;
    }
    .builder-w-50 {
        width: 100%;
        margin: 10px 0;
    }
    .modal-dialog.modal-xl{
        max-width: 95%;
    }
    .config-change-price span {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1200px) { 
    .footer-copyright {
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer-widget {
        margin: 20px 0;
    }
    .page-sidebar-content {
        padding-left: 12px;
        padding-right: 12px;
    }
    .main-menu-area {
        margin-left: 30px;
    }
    .cart-item-total-price .price {
        font-size: 17px;
    }
    .config-change-price span {
        font-size: 21px;
    }
}

@media only screen and (min-width: 991px) {
    /*Sub Menu*/
    ul.sub-menu {
        position: absolute;
        z-index: 9;
        width: 230px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        top: 60px;
    }
    .has-submenu:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        top: 50px;
    }
}

@media only screen and (max-width: 1200px) { 
    .main-menu-area ul li a {
        padding: 13px 10px;
    }
}



@media only screen and (max-width: 991px) {
    /*Mobile Menu*/
    .mobile-menu-backdrop{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        width: 100%;
        background: #151522;
        z-index: -1;
    }
    .mobile-menu-backdrop.active{
        opacity: 0.6;
        visibility: visible;
        z-index: 99;
    }
    header .mobile-menu-trigger.active span {
        background: #ef233c;
    }
    header .mobile-menu-trigger {
        width: 30px;
        margin-right: auto;
        margin-left: 0;
        height: 30px;
        top: 15px;
        position: relative;
        float: left;
    }
    header .mobile-menu-trigger span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        transition: .4s;
        left: 0;
    }
    header .mobile-menu-trigger span:nth-child(2) {
        top: 8px;
    }
    
    header .mobile-menu-trigger span:nth-child(3) {
        top: 17px;
    }
    header .main-menu-area {
        position: fixed;
        left: -280px;
        top: 0;
        z-index: 999;
        background: #231F20;
        width: 280px;
        height: 100%;
        transition: .4s;
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    header .main-menu-area li {
        display: block;
        text-align: left;
    }
    
    header .main-menu-area a {
        margin: 0!important;
        padding: 10px 15px!important;
        display: block!important;
    }
    
    header .main-menu > li > a {
        border-bottom: 1px solid #202036;
    }
    
    header .main-menu-area.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    header .mobile-menu-trigger.active span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }
    header .mobile-menu-trigger.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
    }
    
    header .mobile-menu-trigger.active span:nth-child(2) {
        transform: rotate(135deg);
    }
    header ul.main-menu.text-center {
        text-align: left!important;
    }
    ul.sub-menu {
        width: calc(100% - 30px);
        margin: 0 auto;
        text-align: right;
        display: none;
    }
    
    ul.sub-menu::before {
        display: none;
    }
    
    header .main-menu-area li .sub-menu a {
        text-align: right;
    }
    span.sub-menu-trigger {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 8px;
        transition: .3s;
    }
    span.sub-menu-trigger.active {
        transform: rotate(90deg);
    }

    /*Common CSS*/
    .footer-bottom {
        padding-bottom: 50px;
    }
    
    .footer-copyright {
        flex-direction: column;
    }
    
    .footer-copyright img {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 767px) { 
   
}


/*Very Small Mobile Device*/
@media only screen and (max-width: 350px) { 

}